<%- include('includes/header.ejs') %>
        <% if (todo.done) { %>
        <p>Выполнено.</p>
        <% } %>
        <h1><%= todo.title %></h1>
        <% if (todo.desc) { %>
        <p><%= todo.desc %></p>
        <% } %>
        <p class="datetime">Создано: 
           <%= (new Date(todo.createdAt)).toLocaleString() %></p>
<%- include('includes/footer.ejs') %>
