<%- include('includes/header.ejs') %>
        <h1>Добавление дела</h1>
        <form action="/add" method="post" enctype="multipart/form-data">
            <label>Заголовок</label>
            <input name="title" value="<%= body.title || '' %>">
            <% if (errors.title) { %>
            <div><span class="label error">
                <%= errors.title.msg %>
            </span></div>
            <% } %>
            <label>Описание</label>
            <textarea name="desc"><%= body.desc || '' %></textarea>
            <label>Иллюстрация</label>
            <input type="file" name="addendum" accept="image/*">
            <% if (errors.addendum) { %>
            <div><span class="label error">
                <%= errors.addendum.msg %>
            </span></div>
            <% } %>
            <div class="horizontal">
                <input type="submit" value="Добавить">
            </div>
        </form>
<%- include('includes/footer.ejs') %>
